.wp-block-heru-testimonials {
    max-width: var(--wp--style--global--content-size);
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 2rem 0;

    .section-header {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;

        .section-title {
            margin: 0;
            font-size: 3.75rem;
            color: var(--wp--preset--color--heru-primary);
        }

        .embla__dots {
            display: flex;
            gap: 5px;
            margin-left: auto;

            .embla__dot {
                width: 15px;
                height: 15px;
                background-color: #D9D9D9;
                border-radius: 50px;
                border: none;

                &.is-selected {
                    background-color: var(--wp--preset--color--heru-primary);
                }
            }
        }
    }

    .testimonial {
        display: flex;
        gap: 2rem;

        .testimonial__image {
            flex: 0 0 200px;
        }

        .testimonial__content {
            font-weight: bold;
            font-size: 1.5rem;
            a {
                color: var(--wp--preset--color--heru-primary);
            }
        }

        .testimonial__author {
            font-size: 1rem;
        }
    }

    .embla__viewport {
        overflow: hidden;
    }

    .embla__container {
        display: flex;
    }

    .embla__slide {
        flex: 0 0 100%;
    }

}