<?xml version="1.0"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    testdox="true"
>
    <testsuites>
        <testsuite name="heru">
            <directory suffix="Test.php">./tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>