.clinical-study-template {
    padding: 4rem 0;
    .post-eyebrow {
        color: var(--color-primary);
    }
    .clinical-study-partners-widget {
        h4 {
            margin-top: 0;
        }
        .clinical-study-partners {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .clinical-study-footer {
        margin-top: 2rem;
        padding: 2rem 0;
        border-top: 2px solid var(--color-black);
    }
}