:root {
	--content-width: var(--wp--style--global--content-size);

	--color-primary: var(--wp--preset--color--heru-primary);
    --color-secondary: var(--wp--preset--color--heru-secondary);
	--color-black: var(--wp--preset--color--black);
    --color-white: var(--wp--preset--color--white);
}