.wp-block-heru-clinical-studies {
    margin: 4rem auto;
    max-width: var(--wp--style--global--content-size);

    .section-title {
        font-size: 3rem;
    }

    .clinical-studies-list {
        .clinical-study-item {
            display: flex;
            gap: 2rem;
            padding: 2rem 0;
            border-top: 2px solid var(--color-black);

            h3 {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            .item-image {
                max-width: 170px;
                width: 100%;
            }

            .item-content {
                flex: 1;
            }
        }
    }
}