.wp-block-heru-split-with-image {
    display: flex;
    max-width: var(--wp--style--global--content-size);
    margin: 4rem auto;
    padding: 4rem 0;
    gap: 4rem;

    .section-content {
        flex: 1;

        .section-title {
            margin: 0;
            font-size: 4.5rem;
            line-height: 1;
        }

        .wp-block-buttons {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            .wp-block-button {
                .wp-element-button {
                    &:hover {
                        background-color: var(--color-secondary);
                    }
                }

                &.is-style-outline {
                    .wp-element-button {
                        &:hover {
                            color: var(--color-secondary);
                            border: 1px solid var(--color-secondary);
                        }
                        background-color: transparent;
                        color: var(--color-primary);
                        border: 1px solid var(--color-primary);
                    }
                }
            }
        }
    }

    .section-image {
        flex: 1;
    }
}