@use '../../assets/src/scss/mixins' as *; 

.wp-block-heru-cta-b {
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-align: center;
    border-radius: 20px;

    @include breakpoint(small) {
        padding: 6rem;
    }

    .section-title {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 0;
        font-size: clamp(1.5rem, 3vw, 2.25rem);
        color: var(--color-lilac);
    }

    p {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .wp-block-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;

        @include breakpoint(small) {
            flex-direction: row;
            margin-top: 3rem;
        }

        .wp-block-button {
            .wp-element-button {
                background-color: var(--wp--preset--color--heru-lilac);
                color: var(--wp--preset--color--black);
            }

            &.is-style-outline {
                .wp-element-button {
                    background-color: transparent;
                    color: var(--wp--preset--color--heru-lilac);
                    border: 1px solid var(--wp--preset--color--heru-lilac);
                }
            }
        }
    }
}