@use '../../assets/src/scss/mixins' as *; 

.wp-block-heru-split-with-image-b {
    display: flex;
    margin: 4rem auto;
    gap: 2rem;
    flex-direction: column;

    @include breakpoint(small) {
        flex-direction: row;
        gap: 6rem;
    }

    .section-content {
        flex: 1;

        .section-eyebrow {
            font-weight: bold;
            color: var(--wp--preset--color--heru-primary);
        }

        .section-title {
            margin: 2rem 0;
            font-size: clamp(2rem, 3vw, 3.75rem);
        }

        p {
            font-weight: bold;
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            small {
                display: block;
                font-weight: normal;
                font-size: 1rem;
            }
        }

    }

    .section-image {
        flex: 1;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}