@use '../../assets/src/scss/mixins' as *;

.wp-block-heru-split-card-with-highlights {
    margin-bottom: 4rem;
    padding: 2rem 1rem;
    background-color: #024657;
    border-radius: 20px;

    @include breakpoint(small) {
        padding: 4rem;
    }

    .top-section {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include breakpoint(small) {
            flex-direction: row;
        }

        .top-presentation {
            color: var(--color-white);

            .section-eyebrow {
                font-weight: 600;
                color: var(--color-cyan);
            }

            .section-title {
                margin: 1rem 0 2rem 0;
                font-size: clamp(2.5rem, 5vw, 4.5rem);
                line-height: 1;
            }

            .wp-block-buttons {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                @include breakpoint(small) {
                    flex-direction: row;
                }

                .wp-block-button {
                    .wp-element-button {
                        background-color: var(--color-cyan);
                        color: var(--wp--preset--color--black);
                    }

                    &.is-style-outline {
                        &:hover {
                            .wp-element-button {
                                background-color: var(--color-white);
                                color: var(--color-black);
                            }
                        }

                        .wp-element-button {
                            background-color: transparent;
                            color: var(--wp--preset--color--white);
                            border: 1px solid var(--wp--preset--color--white);
                        }
                    }
                }
            }
        }

        .top-details {
            padding: 1rem;
            background-color: var(--wp--preset--color--white);
            border-radius: 20px;

            @include breakpoint(small) {
                padding: 3rem;
            }

            p {
                margin: 0;
                font-size: clamp(1rem, 2vw, 1.5rem);
            }

            img {
                margin-top: 1rem;
            }
        }
    }

    .bottom-section {
        display: flex;
        gap: 2rem;
        max-width: 80%;
              margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;
        color: var(--color-white);

        @include breakpoint(small) {
            flex-direction: row;
            gap: 4rem;
            margin: 0 auto;
            margin-top: 4rem;
        }

        h3 {
            margin-bottom: 1rem;
            font-weight: 600;
        }

        p {
            margin: 0;
            font-size: 1rem;
        }
    }
}