@use '../../assets/src/scss/mixins' as *;

.wp-block-heru-press-releases {
    margin: 4rem 0;

    .section-title {
        font-size: clamp(2rem, 3vw, 3rem);
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include breakpoint(small) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }

        .item {
            h3 {
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: clamp(1.5rem, 3vw, 2rem);
            }

            .item-meta {
                @include breakpoint(small) {
                    margin-bottom: 2rem;
                }
            }

            .wp-block-button {
                margin-top: 1rem;
                @include breakpoint(small) {
                    margin-top: 2rem;
                }
            }
        }
    }
}