.wp-block-heru-logo-grid {
	max-width: var(--wp--custom--small-size);
	margin: 0 auto;
    margin-bottom: 4rem;
    padding: 2rem 0;
	text-align: center;
	.section-title {
		font-size: 2.5rem;
		color: var(--wp--preset--color--heru-primary);
	}
	.logo-grid__logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		margin: 3rem 0;

		.logo-grid__item {
			width: calc( 25% - 3rem );
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			display: inline-block;
		}
	}
}
