<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"clinical-study-template","layout":{"type":"constrained"}} -->
<main class="wp-block-group clinical-study-template">

    <!-- wp:columns -->
    <div class="wp-block-columns">

        <!-- wp:column -->
        <div class="wp-block-column">

            <!-- wp:post-title {"level":1} /-->

            <!-- wp:post-content /-->

            <!-- wp:heru/share /-->

        </div>
        <!-- /wp:column -->

    </div>
    <!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->