@use '../../assets/src/scss/mixins' as *; 

.wp-block-heru-split-card {
    display: flex;
    flex-direction: column;
    max-width: var(--wp--style--global--content-size);
    margin: 4rem auto;
    padding: 2rem 1rem;
    gap: 3rem;
    background-color: var(--wp--preset--color--heru-secondary);
    border-radius: 20px;

    @include breakpoint(small) {
        flex-direction: row;
            padding: 4rem;
            gap: 10rem;
    }

    .section-presentation {
        color: var(--wp--preset--color--white);

        .section-eyebrow {
            font-family: var(--wp--preset--font-family--heru-heading-font);
            font-weight: 600;
            color: var(--wp--preset--color--heru-lilac);
        }

        .section-title {
            margin: 1rem 0 1rem 0;
            font-size: 4.5rem;
        }

        h3 {
            margin-top: 0;
            color: var(--wp--preset--color--heru-lilac);
        }
        
        ul {
            padding: 0;
            list-style-position: inside;
        }

        .wp-block-buttons {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            margin-top: 2rem;

            @include breakpoint(small) {
                flex-direction: row;
                margin-top: 3rem;
            }

            .wp-block-button {
                .wp-element-button {
                    background-color: var(--color-lilac);
                    color: var(--color-black);
                }

                &.is-style-outline {
                    .wp-element-button {
                        &:hover {
                            background-color: var(--color-lilac);
                            color: var(--color-black);
                            border: 1px solid var(--color-lilac);
                        }
                        background-color: transparent;
                        color: var(--color-white);
                        border: 1px solid var(--color-white);
                    }
                }
            }
        }
    }

    .section-details {
        padding: 1rem;
        background-color: var(--wp--preset--color--white);
        border-radius: 20px;
        @include breakpoint(small) {
            padding: 3rem;
        }

        p {
            margin: 0;
            font-size: clamp(1.2rem, 2vw, 1.5rem);
        }

        img {
            margin-top: 1rem;
            @include breakpoint(small) {
                float: right;
            }
        }
    }
}