.wp-block-heru-podcast {
    display: flex;
    gap: 4rem;
    margin: 4rem auto;
    max-width: var(--wp--style--global--content-size);
    padding: 4rem;

    &.has-background {
        background-color: color-mix(in srgb, var(--wp--preset--color--heru-primary) 20%, white);
        border-radius: 20px;
    }

    .section-content {
        flex: 1;
        color: var(--wp--preset--color--black);

        .section-title {
            margin: 0;
            font-size: 2.5rem;
        }

        .wp-block-buttons {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            .wp-block-button {
                .wp-element-button {
                    &:hover {
                        background-color: var(--color-secondary);
                    }
                }
            }
        }
    }

    .section-podcast-embed {
        flex: 1;

        iframe {
            border-radius: 12px;
        }
    }
}